[Unit]
Description=Winline Admin Panel
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/winline-source/
Environment=NODE_ENV=production
# BOT_DIR — путь к папке с ботом (рядом с проектом)
# Если бот лежит в другом месте — поменяйте этот путь
Environment=BOT_DIR=/var/www/WLPartnersBot
ExecStart=/usr/bin/node server/index.js
RestartSec=10
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
